doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Deloitte Task Board
  link(rel='icon' href='https://media-exp1.licdn.com/dms/image/C560BAQGJHYXy9e1rEg/company-logo_200_200/0?e=1590019200&v=beta&t=37LxLqSVBwOt6F3DMfw4v6cRWU84ydgbbbrePFutb8k' type='image/x-icon')
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  // Bootstrap core JavaScript
  script(src='/jquery-3.4.1.min.js')
  script(src='bootstrap.bundle.min.js')
  link(rel='stylesheet' type='text/css' href='/sample.css')
  script(src='/client.js')
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
  .container
    img.deloite_logo
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Your Tasks
        li.nav-item
          a.nav-link(href='#') Completed Tasks
        li.nav-item
          button.btn.btn-outline-success#create_task(type='button') Create Task
#create_modal.modal.create_modal
  // Modal content
  .modal-content
    button#create_modal_close(style='float: right;') X
    form(action='#')
      | Are you sure you want to create this task?:
      br
      br
      input#create_task_btn(type='submit' value='Create')
#confirm_modal.modal.confirm_modal
  // Modal content
  .modal-content
    button#confirm_modal_close(style='float: right;') X
    form(action='#')
      | Are you sure you want to accept this task?:
      br
      br
      input#confirm_task_btn(type='submit' value='Submit')

#edit_modal.modal.edit_modal
  // Modal content
  .modal-content
    button#confirm_modal_close(style='float: right;') X
    form(action='#')
      | Are you sure you want to edit this task?:
      br
      br
      input#edit_task_btn(type='submit' value='Submit')

#delete_modal.modal.delete_modal
  // Modal content
  .modal-content
    button#confirm_modal_close(style='float: right;') X
    form(action='#')
      | Are you sure you want to delete this task?:
      br
      br
      input#delete_task_btn(type='submit' value='Submit')

.divider

.container.card.header
  .row
    .card-col
      .label.label-default.label-outlined.label-icon.label-text Task Master Name
    .card-col.hours
      .label.label-default.label-outlined.label-hours.label-text Days
    .card-col.duedate
      .label.label-default.label-outlined.label-duedate.label-text Due Date
    .card-col
      .label.label-default.label-outlined.label-description.label-text Task description

#list_begin_point
  
div#completed_tasks
  
